{
  "openapi": "3.0.0",
  "info": {
    "title": "Elestio",
    "description": " <h1>Introduction</h1> Elestio provide fully managed open-source services for a large catalog of 400+ softwares on a dedicated instance in less than 3 minutes. You can relax knowing that we are taking care of installation, configuration, encryption, backups, software & OS updates, live monitoring…and more! on scalable cloud infrastructure.<br /> <br />\nElestio is available on 9 cloud providers, 100+ regions, 40+ countries and also on-premise or your own cloud provider.<br /> <br /> No more DevOps. Deploy on any cloud or on-premise. Scalable & Secure. CI/CD Pipelines. <br /> <br /> If you do not have an account yet, sign up now at <a href=\"https://dash.elest.io/signup\"target=\"_blank\">Elestio</a>. <br /> <br />\n<h1>Description</h1> The Elestio REST API provides access to elest.io services. All requests and responses are in JSON format<br /> <br /> <br /> ",
    "version": "1.0.0",
    "x-logo": {
      "url": "https://elest.io/images/elestio.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.elest.io"
    }
  ],
  "paths": {
    "/api/auth/checkAPIToken": {
      "post": {
        "tags": [
          "AUTHENTICATION"
        ],
        "summary": "checkAPIToken",
        "description": "To get your token, go to  <a href=\"https://dash.elest.io/account/security\" target=\"_blank\">Elestio security tab</a>, then click on <b>Manage API Tokens > Create Token</b>. <br /> You will get a token similar to <b>ggiKvqrHfpAhBofvjOtax4JI</b><br /> <br />You will need to call <b>/api/auth/checkAPIToken</b> to get a valid jwt. <br/>You can then use this jwt to call all others API calls.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auth_checkAPIToken_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/auth/checkAPIToken",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "OK",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/auth/checkAPIToken \\\n  --header 'content-type: application/json' \\\n  --data '{\"email\":\"user@domain.com\",\"token\":\"gx45xxxXuZ5PZxs8dXXRhMpV0\"}'"
          }
        ]
      }
    },
    "/api/servers/createServer": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Create a new service",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_createServer_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/createServer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "action": {
                      "id": 402419563,
                      "command": "create_server",
                      "status": "running",
                      "progress": 0,
                      "started": "2022-03-08T10:48:46.000Z",
                      "finished": "1970-01-01T00:00:00.000Z",
                      "resources": [
                        {
                          "id": 12345678,
                          "type": "server"
                        }
                      ]
                    },
                    "providerServerID": 12345678
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/createServer \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"templateID\":\"38\",\"serverType\":\"SMALL-1C-2G\",\"datacenter\":\"fsnl\",\"serverName\":\"ubuntu-3dfd\",\"appid\":\"Cloudxx\",\"data\":\"data\",\"support\":\"level1\",\"projectId\":\"17734567\",\"version\":\"1\",\"adminEmail\":\"abc@admin.com\",\"deploymentServiceType\":\"normal\",\"serviceType\":\"Service\"}'"
          }
        ]
      }
    },
    "/api/servers/getServices": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "List of services in a project",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_getServices_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/getServices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": [
                    {
                      "id": 12345,
                      "status": "running",
                      "deploymentStatus": "Deployed",
                      "appID": "Cloudxx",
                      "selected_software_tag": "latest",
                      "displayName": "ubuntu-xxxxx",
                      "vmID": "12345678",
                      "ipv4": "127.132.230.13",
                      "cname": "ubuntu-xxxxx-xxxx.vm.appdrag.net",
                      "projectID": "123",
                      "template": 38,
                      "datacenter": "fsn1",
                      "globalIP": "127.17.71.1",
                      "country": "Germany",
                      "city": "Falkenstein",
                      "templateName": "Ubuntu",
                      "category": "Operating Systems",
                      "token": "ghn45ht2-xxgr-gXxbYxID2",
                      "imageType": "ubuntu-20.04",
                      "serverType": "SMALL-1C-2G",
                      "traffic_outgoing": 0,
                      "traffic_ingoing": 0,
                      "traffic_included": 21990232555520,
                      "cores": 1,
                      "ramGB": "2.00",
                      "storageSizeGB": 20,
                      "isProtected": 0,
                      "creationDate": "2022-03-08T11:00:54.000Z",
                      "lastUpdate": "2022-03-08T11:03:20.000Z",
                      "backupsActivated": 1,
                      "remoteBackupsActivated": 1,
                      "isFirewallActivated": 0,
                      "isAlertsActivated": 0,
                      "isLocked": 0,
                      "managedDBPort": "",
                      "managedDBCLI": "",
                      "pricePerHour": "0.014",
                      "provider": "hetzner",
                      "firewallPorts": "",
                      "adminUser": "null",
                      "email": "emailaddress@domain.com",
                      "app_AutoUpdate_Enabled": 1,
                      "system_AutoUpdate_Enabled": 1,
                      "rateLimiter": "150r/m",
                      "outputCacheDurationInSeconds": 0,
                      "support": "level1"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/getServices \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"appid\":\"Cloudxx\",\"projectId\":\"17734567\",\"isActiveService\":\"true\"}'"
          }
        ]
      }
    },
    "/api/servers/getServerDetails": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Get service information",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_getServerDetails_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/getServerDetails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "serviceInfos": [
                      {
                        "id": 123,
                        "appID": "Cloudxx",
                        "category": "Databases & Cache",
                        "city": "Falkenstein",
                        "cname": "postgresql-xxxxx-xxxx.vm.appdrag.net",
                        "cores": 1,
                        "country": "Germany",
                        "creationDate": "2022-03-07T17:57:09.000Z",
                        "datacenter": "fsn1",
                        "deploymentStatus": "Deployed",
                        "displayName": "postgresql-xxxxx",
                        "dockerhub_image": "postgres",
                        "email": "youremailaddress@domain.com",
                        "externalBackupRetainDay": 7,
                        "externalBackupUpdateDay": -1,
                        "externalBackupUpdateHour": 1,
                        "externalBackupUpdateMinute": 0,
                        "firewallPorts": "11123,11343",
                        "firewall_id": "xxxxx",
                        "globalIP": "127.17.71.1",
                        "imageType": "ubuntu-20.04",
                        "ipv4": "142.132.185.174",
                        "ipv6": "2a01:4f8:c010:a3e8::/64",
                        "isAlertsActivated": 1,
                        "isExternalBackupActivated": 0,
                        "isFirewallActivated": 1,
                        "isLocked": 0,
                        "isOriginExist": 0,
                        "isProtected": 0,
                        "isVolumeExist": 0,
                        "isWaitingForMigration": 0,
                        "lastUpdate": "2022-03-07T19:05:56.000Z",
                        "managedDBCLI": "PGPASSWORD=[APP_PASSWORD] psql --host=[DOMAIN] --port=34523 --username=postgres",
                        "managedDBPort": "34523",
                        "outputCacheDurationInSeconds": 0,
                        "provider": "hetzner",
                        "ramGB": "2.00",
                        "rateLimiter": "150r/m",
                        "remoteBackupsActivated": 1,
                        "selected_software_tag": "14",
                        "serverType": "SMALL-1C-2G",
                        "status": "running",
                        "storageSizeGB": 20,
                        "support": "level1"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/getServerDetails \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"projectID\":\"123\"}'"
          }
        ]
      }
    },
    "/api/servers/getTemplates": {
      "get": {
        "tags": [
          "SERVICES"
        ],
        "summary": "List of softwares",
        "description": "",
        "responses": {
          "200": {
            "description": "response for /api/servers/getTemplates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "instances": [
                      {
                        "id": 11,
                        "category": "Databases & Cache",
                        "title": "PostgreSQL",
                        "version": "14",
                        "description": "PostgreSQL is a powerful, open-source, object-relational database system that uses and extends the SQL language combined with many features that safely store and scale the most complicated data workloads. It has a strong reputation for its architecture, reliability, data integrity, robust feature set and extensibility. It runs on all major operating systems, is ACID-compliant, and has powerful add-ons such as the PostGIS geospatial database extender."
                      },
                      {
                        "id": 12,
                        "category": "Databases & Cache",
                        "title": "MySQL",
                        "version": "8",
                        "description": "MySQL is an open-source relational database management system (RDBMS). Many of the world's largest organizations rely on it to power their high-volume websites, business-critical systems and packaged software. It runs on almost all platforms, including Linux, UNIX and Windows."
                      },
                      {
                        "id": 13,
                        "category": "Operating Systems",
                        "minCores": 1,
                        "osName": "Ubuntu 20.04",
                        "showOrder": 0,
                        "title": "Ubuntu",
                        "version": "20.04",
                        "description": "Ubuntu is officially released in three editions: Desktop, Server, and Core for Internet of Things devices and robots. All the editions can run on the computer alone, or in a virtual machine"
                      },
                      {
                        "id": 14,
                        "category": "Applications",
                        "description": "WordPress is a free and open-source content management system. The core WordPress software is built by hundreds of community volunteers. You can avail of any of thousands of plugins and themes to transform your site. Over 60 million people have chosen WordPress to power the place on the web they call home. WordPress is written in PHP and paired with a MySQL or MariaDB database.",
                        "minCores": 1,
                        "osName": "Ubuntu 20.04",
                        "showOrder": 0,
                        "title": "Wordpress",
                        "version": "latest"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.elest.io/api/servers/getTemplates"
          }
        ]
      }
    },
    "/api/servers/getServerSizes": {
      "get": {
        "tags": [
          "SERVICES"
        ],
        "summary": "List of servers",
        "description": "",
        "responses": {
          "200": {
            "description": "response for /api/servers/getServerSizes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "instances": [
                      {
                        "Continent": "Europe",
                        "Country": "Netherlands",
                        "City": "Amsterdam",
                        "CountryCode": "NL",
                        "providerName": "DO",
                        "regionID": "ams3",
                        "regionCode": "ams3",
                        "regionName": "Digital Ocean - NL - AMS3",
                        "title": "MICRO-1C-1G",
                        "providerType": "s-1vcpu-1gb-intel",
                        "vCPU": 1,
                        "ramGB": "1.00",
                        "storageType": "NVME",
                        "storageSizeGB": 25,
                        "offerTrafficIncludedGB": "1000",
                        "pricePerHour": "0.022",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Netherlands",
                        "City": "Amsterdam",
                        "CountryCode": "NL",
                        "providerName": "DO",
                        "regionID": "ams3",
                        "regionCode": "ams3",
                        "regionName": "Digital Ocean - NL - AMS3",
                        "title": "SMALL-1C-2G",
                        "providerType": "s-1vcpu-2gb-intel",
                        "vCPU": 1,
                        "ramGB": "2.00",
                        "storageType": "NVME",
                        "storageSizeGB": 50,
                        "offerTrafficIncludedGB": "2000",
                        "pricePerHour": "0.045",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Netherlands",
                        "City": "Amsterdam",
                        "CountryCode": "NL",
                        "providerName": "DO",
                        "regionID": "ams3",
                        "regionCode": "ams3",
                        "regionName": "Digital Ocean - NL - AMS3",
                        "title": "MEDIUM-2C-4G",
                        "providerType": "s-2vcpu-4gb-intel",
                        "vCPU": 2,
                        "ramGB": "4.00",
                        "storageType": "NVME",
                        "storageSizeGB": 80,
                        "offerTrafficIncludedGB": "4000",
                        "pricePerHour": "0.089",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Netherlands",
                        "City": "Amsterdam",
                        "CountryCode": "NL",
                        "providerName": "DO",
                        "regionID": "ams3",
                        "regionCode": "ams3",
                        "regionName": "Digital Ocean - NL - AMS3",
                        "title": "LARGE-4C-8G",
                        "providerType": "s-4vcpu-8gb-intel",
                        "vCPU": 4,
                        "ramGB": "8.00",
                        "storageType": "NVME",
                        "storageSizeGB": 160,
                        "offerTrafficIncludedGB": "5000",
                        "pricePerHour": "0.179",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Netherlands",
                        "City": "Amsterdam",
                        "CountryCode": "NL",
                        "providerName": "DO",
                        "regionID": "ams3",
                        "regionCode": "ams3",
                        "regionName": "Digital Ocean - NL - AMS3",
                        "title": "XLARGE-8C-16G",
                        "providerType": "s-8vcpu-16gb-intel",
                        "vCPU": 8,
                        "ramGB": "16.00",
                        "storageType": "NVME",
                        "storageSizeGB": 320,
                        "offerTrafficIncludedGB": "6000",
                        "pricePerHour": "0.357",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Asia",
                        "Country": "India",
                        "City": "Bangalore",
                        "CountryCode": "IN",
                        "providerName": "DO",
                        "regionID": "blr1",
                        "regionCode": "blr1",
                        "regionName": "Digital Ocean - IN - blr1",
                        "title": "MICRO-1C-1G",
                        "providerType": "s-1vcpu-1gb-intel",
                        "vCPU": 1,
                        "ramGB": "1.00",
                        "storageType": "NVME",
                        "storageSizeGB": 25,
                        "offerTrafficIncludedGB": "1000",
                        "pricePerHour": "0.022",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Asia",
                        "Country": "India",
                        "City": "Bangalore",
                        "CountryCode": "IN",
                        "providerName": "DO",
                        "regionID": "blr1",
                        "regionCode": "blr1",
                        "regionName": "Digital Ocean - IN - blr1",
                        "title": "SMALL-1C-2G",
                        "providerType": "s-1vcpu-2gb-intel",
                        "vCPU": 1,
                        "ramGB": "2.00",
                        "storageType": "NVME",
                        "storageSizeGB": 50,
                        "offerTrafficIncludedGB": "2000",
                        "pricePerHour": "0.045",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Asia",
                        "Country": "India",
                        "City": "Bangalore",
                        "CountryCode": "IN",
                        "providerName": "DO",
                        "regionID": "blr1",
                        "regionCode": "blr1",
                        "regionName": "Digital Ocean - IN - blr1",
                        "title": "MEDIUM-2C-4G",
                        "providerType": "s-2vcpu-4gb-intel",
                        "vCPU": 2,
                        "ramGB": "4.00",
                        "storageType": "NVME",
                        "storageSizeGB": 80,
                        "offerTrafficIncludedGB": "4000",
                        "pricePerHour": "0.089",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Asia",
                        "Country": "India",
                        "City": "Bangalore",
                        "CountryCode": "IN",
                        "providerName": "DO",
                        "regionID": "blr1",
                        "regionCode": "blr1",
                        "regionName": "Digital Ocean - IN - blr1",
                        "title": "LARGE-4C-8G",
                        "providerType": "s-4vcpu-8gb-intel",
                        "vCPU": 4,
                        "ramGB": "8.00",
                        "storageType": "NVME",
                        "storageSizeGB": 160,
                        "offerTrafficIncludedGB": "5000",
                        "pricePerHour": "0.179",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Asia",
                        "Country": "India",
                        "City": "Bangalore",
                        "CountryCode": "IN",
                        "providerName": "DO",
                        "regionID": "blr1",
                        "regionCode": "blr1",
                        "regionName": "Digital Ocean - IN - blr1",
                        "title": "XLARGE-8C-16G",
                        "providerType": "s-8vcpu-16gb-intel",
                        "vCPU": 8,
                        "ramGB": "16.00",
                        "storageType": "NVME",
                        "storageSizeGB": 320,
                        "offerTrafficIncludedGB": "6000",
                        "pricePerHour": "0.357",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Germany",
                        "City": "Frankfurt",
                        "CountryCode": "DE",
                        "providerName": "DO",
                        "regionID": "fra1",
                        "regionCode": "fra1",
                        "regionName": "Digital Ocean - DE - FRA1",
                        "title": "MICRO-1C-1G",
                        "providerType": "s-1vcpu-1gb-intel",
                        "vCPU": 1,
                        "ramGB": "1.00",
                        "storageType": "NVME",
                        "storageSizeGB": 25,
                        "offerTrafficIncludedGB": "1000",
                        "pricePerHour": "0.022",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Germany",
                        "City": "Frankfurt",
                        "CountryCode": "DE",
                        "providerName": "DO",
                        "regionID": "fra1",
                        "regionCode": "fra1",
                        "regionName": "Digital Ocean - DE - FRA1",
                        "title": "SMALL-1C-2G",
                        "providerType": "s-1vcpu-2gb-intel",
                        "vCPU": 1,
                        "ramGB": "2.00",
                        "storageType": "NVME",
                        "storageSizeGB": 50,
                        "offerTrafficIncludedGB": "2000",
                        "pricePerHour": "0.045",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Germany",
                        "City": "Frankfurt",
                        "CountryCode": "DE",
                        "providerName": "DO",
                        "regionID": "fra1",
                        "regionCode": "fra1",
                        "regionName": "Digital Ocean - DE - FRA1",
                        "title": "MEDIUM-2C-4G",
                        "providerType": "s-2vcpu-4gb-intel",
                        "vCPU": 2,
                        "ramGB": "4.00",
                        "storageType": "NVME",
                        "storageSizeGB": 80,
                        "offerTrafficIncludedGB": "4000",
                        "pricePerHour": "0.089",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Germany",
                        "City": "Frankfurt",
                        "CountryCode": "DE",
                        "providerName": "DO",
                        "regionID": "fra1",
                        "regionCode": "fra1",
                        "regionName": "Digital Ocean - DE - FRA1",
                        "title": "LARGE-4C-8G",
                        "providerType": "s-4vcpu-8gb-intel",
                        "vCPU": 4,
                        "ramGB": "8.00",
                        "storageType": "NVME",
                        "storageSizeGB": 160,
                        "offerTrafficIncludedGB": "5000",
                        "pricePerHour": "0.179",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "Germany",
                        "City": "Frankfurt",
                        "CountryCode": "DE",
                        "providerName": "DO",
                        "regionID": "fra1",
                        "regionCode": "fra1",
                        "regionName": "Digital Ocean - DE - FRA1",
                        "title": "XLARGE-8C-16G",
                        "providerType": "s-8vcpu-16gb-intel",
                        "vCPU": 8,
                        "ramGB": "16.00",
                        "storageType": "NVME",
                        "storageSizeGB": 320,
                        "offerTrafficIncludedGB": "6000",
                        "pricePerHour": "0.357",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "United Kingdom",
                        "City": "London",
                        "CountryCode": "GB",
                        "providerName": "DO",
                        "regionID": "lon1",
                        "regionCode": "lon1",
                        "regionName": "Digital Ocean - UK - LON1",
                        "title": "MICRO-1C-1G",
                        "providerType": "s-1vcpu-1gb-intel",
                        "vCPU": 1,
                        "ramGB": "1.00",
                        "storageType": "NVME",
                        "storageSizeGB": 25,
                        "offerTrafficIncludedGB": "1000",
                        "pricePerHour": "0.022",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "United Kingdom",
                        "City": "London",
                        "CountryCode": "GB",
                        "providerName": "DO",
                        "regionID": "lon1",
                        "regionCode": "lon1",
                        "regionName": "Digital Ocean - UK - LON1",
                        "title": "SMALL-1C-2G",
                        "providerType": "s-1vcpu-2gb-intel",
                        "vCPU": 1,
                        "ramGB": "2.00",
                        "storageType": "NVME",
                        "storageSizeGB": 50,
                        "offerTrafficIncludedGB": "2000",
                        "pricePerHour": "0.045",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "United Kingdom",
                        "City": "London",
                        "CountryCode": "GB",
                        "providerName": "DO",
                        "regionID": "lon1",
                        "regionCode": "lon1",
                        "regionName": "Digital Ocean - UK - LON1",
                        "title": "MEDIUM-2C-4G",
                        "providerType": "s-2vcpu-4gb-intel",
                        "vCPU": 2,
                        "ramGB": "4.00",
                        "storageType": "NVME",
                        "storageSizeGB": 80,
                        "offerTrafficIncludedGB": "4000",
                        "pricePerHour": "0.089",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "United Kingdom",
                        "City": "London",
                        "CountryCode": "GB",
                        "providerName": "DO",
                        "regionID": "lon1",
                        "regionCode": "lon1",
                        "regionName": "Digital Ocean - UK - LON1",
                        "title": "LARGE-4C-8G",
                        "providerType": "s-4vcpu-8gb-intel",
                        "vCPU": 4,
                        "ramGB": "8.00",
                        "storageType": "NVME",
                        "storageSizeGB": 160,
                        "offerTrafficIncludedGB": "5000",
                        "pricePerHour": "0.179",
                        "cpuBrand": "Intel Xeon"
                      },
                      {
                        "Continent": "Europe",
                        "Country": "United Kingdom",
                        "City": "London",
                        "CountryCode": "GB",
                        "providerName": "DO",
                        "regionID": "lon1",
                        "regionCode": "lon1",
                        "regionName": "Digital Ocean - UK - LON1",
                        "title": "XLARGE-8C-16G",
                        "providerType": "s-8vcpu-16gb-intel",
                        "vCPU": 8,
                        "ramGB": "16.00",
                        "storageType": "NVME",
                        "storageSizeGB": 320,
                        "offerTrafficIncludedGB": "6000",
                        "pricePerHour": "0.357",
                        "cpuBrand": "Intel Xeon"
                      },
                      "..."
                    ]
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.elest.io/api/servers/getServerSizes"
          }
        ]
      }
    },
    "/api/servers/deleteServer": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Delete a service",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_deleteServer_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/deleteServer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/deleteServer \\\n  --header 'content-type: application/json' \\\n  --data '{\"vmID\":\"123456789\",\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"isDeleteServiceWithBackup\":\"false\"}'"
          }
        ]
      }
    },
    "/api/servers/DoActionOnServer": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Performs an action",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_DoActionOnServer_body"
              },
              "examples": {
                "reboot": {
                  "summary": "Reboot Server",
                  "value": {
                    "action": "reboot",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "reset": {
                  "summary": "Reset Server",
                  "value": {
                    "action": "reset",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "shutdown": {
                  "summary": "Shutdown Server",
                  "value": {
                    "action": "shutdown",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "poweroff": {
                  "summary": "Power Down Server",
                  "value": {
                    "action": "poweroff",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "poweron": {
                  "summary": "Power Up Server",
                  "value": {
                    "action": "poweron",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "getServiceVolume": {
                  "summary": "Get Volumes for the service",
                  "value": {
                    "action": "getServiceVolume",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "createServiceVolume": {
                  "summary": "Create a new Volume for a service",
                  "value": {
                    "action": "createServiceVolume",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789",
                    "isMoveData": false,
                    "volume": 10,
                    "volumeName": "volumeName",
                    "blockStorageType": "NVME OR HDD (Only vultr supports both HDD and SSD but pass only one, while the rest only supports SSD.)"
                  }
                },
                "manageServiceVolumeProtection": {
                  "summary": "To Turn On/Off projection for Volume",
                  "value": {
                    "action": "manageServiceVolumeProtection",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789",
                    "isVolumeProtection": true,
                    "volumeID": "123445678"
                  }
                },
                "resizeServiceVolume": {
                  "summary": "Resize Volume.",
                  "value": {
                    "action": "resizeServiceVolume",
                    "currentSize": "10.00",
                    "isMoveData": false,
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "volume": "11",
                    "volumeID": "123445678",
                    "volumeName": "volumeName",
                    "vmID": "123456789"
                  }
                },
                "detachServiceVolume": {
                  "summary": "Unlink Volume.",
                  "value": {
                    "action": "detachServiceVolume",
                    "isKeepVolume": false,
                    "isMoveData": false,
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "volumeID": "12345678",
                    "vmID": "123456789"
                  }
                },
                "deleteServiceVolume": {
                  "summary": "Delete Service Volume",
                  "value": {
                    "action": "deleteServiceVolume",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789",
                    "volumeID": "123445678"
                  }
                },
                "lock": {
                  "summary": "Activate Termination Protection for Service.",
                  "value": {
                    "action": "lock",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "unlock": {
                  "summary": "Deactivate Termination Protection for Service.",
                  "value": {
                    "action": "unlock",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "systemAutoUpdateDisable": {
                  "summary": "Disable Service OS auto updates",
                  "value": {
                    "action": "systemAutoUpdateDisable",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "systemAutoUpdateEnable": {
                  "summary": "Enable Service OS auto updates",
                  "value": {
                    "action": "systemAutoUpdateEnable",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "systemAutoUpdateRebootDayOfWeek": "0",
                    "systemAutoUpdateRebootHour": "5",
                    "systemAutoUpdateRebootMinute": "00",
                    "systemAutoUpdateSecurityPatchesOnly": true,
                    "vmID": "123456789"
                  }
                },
                "systemAutoUpdateNow": {
                  "summary": "Update Server OS.",
                  "value": {
                    "action": "systemAutoUpdateNow",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "appAutoUpdateEnable": {
                  "summary": "Enable Software Auto Updates",
                  "value": {
                    "action": "appAutoUpdateEnable",
                    "appAutoUpdateDayOfWeek": 0,
                    "appAutoUpdateHour": 1,
                    "appAutoUpdateMinute": 0,
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "appAutoUpdateNow": {
                  "summary": "Update Software.",
                  "value": {
                    "action": "appAutoUpdateNow",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "appAutoUpdateDisable": {
                  "summary": "Disable Software Auto Updates",
                  "value": {
                    "action": "appAutoUpdateDisable",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "changeSupportPlan": {
                  "summary": "Change Service Support Plan",
                  "value": {
                    "action": "changeSupporPlan",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "serverType": "SMALL-1C-2G",
                    "supportChoice": "level2",
                    "vmID": "123456789"
                  }
                },
                "restartAppStack": {
                  "summary": "Restarts App Stack for service",
                  "value": {
                    "action": "restartAppStack",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "getAlertsRules": {
                  "summary": "Get Threshold Alerts for service",
                  "value": {
                    "action": "getAlertsRules",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "disableAlerts": {
                  "summary": "Disable Alerts",
                  "value": {
                    "action": "disableAlerts",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "enableAlerts": {
                  "summary": "Enable Alerts.",
                  "value": {
                    "action": "enableAlerts",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "monitCycleInSeconds": 60,
                    "rules": "",
                    "vmID": "123456789"
                  }
                },
                "softwareChangeSelectedVersion": {
                  "summary": "Change Version of Application Software",
                  "value": {
                    "action": "softwareChangeSelectedVersion",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "versionTag": "RELEASE.2022-03-08T22-28-51Z.fips",
                    "vmID": "123456789"
                  }
                },
                "getFirewallRules": {
                  "summary": "Get Firewall Rules",
                  "value": {
                    "action": "getFirewallRules",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "updateFirewall": {
                  "summary": "Update Firewall Rules",
                  "value": {
                    "action": "updateFirewall",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "rules": [
                      {
                        "type": "INPUT",
                        "port": "22",
                        "protocol": "tcp",
                        "targets": [
                          "0.0.0.0/0",
                          "::/0"
                        ]
                      },
                      {
                        "type": "INPUT",
                        "port": "4242",
                        "protocol": "udp",
                        "targets": [
                          "0.0.0.0/0",
                          "::/0"
                        ]
                      }
                    ],
                    "vmID": "123456789"
                  }
                },
                "disableFirewall": {
                  "summary": "Disable Firewall",
                  "value": {
                    "action": "disableFirewall",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "enableFirewall": {
                  "summary": "Enable Firewall",
                  "value": {
                    "action": "enableFirewall",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "rules": [
                      {
                        "type": "INPUT",
                        "port": "22",
                        "protocol": "tcp",
                        "targets": [
                          "0.0.0.0/0",
                          "::/0"
                        ]
                      },
                      {
                        "type": "INPUT",
                        "port": "4242",
                        "protocol": "udp",
                        "targets": [
                          "0.0.0.0/0",
                          "::/0"
                        ]
                      }
                    ],
                    "vmID": "123456789"
                  }
                },
                "SSLDomainsList": {
                  "summary": "SSL Domains List",
                  "value": {
                    "action": "SSLDomainsList",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "SSLDomainsAdd": {
                  "summary": "SSL Domains Add",
                  "value": {
                    "action": "SSLDomainsAdd",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789",
                    "domain": "test.com"
                  }
                },
                "SSLDomainsRemove": {
                  "summary": "SSL Domains Remove",
                  "value": {
                    "action": "SSLDomainsRemove",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789",
                    "domain": "test.com"
                  }
                },
                "SSHPubKeysList": {
                  "summary": "SSH public Keys List",
                  "value": {
                    "action": "SSHPubKeysList",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "SSHPubKeysAdd": {
                  "summary": "Add SSH public keys",
                  "value": {
                    "action": "SSHPubKeysAdd",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "key": "jfldfndlfjidof",
                    "name": "key",
                    "vmID": "123456789"
                  }
                },
                "SSHPubKeysRemove": {
                  "summary": "Remove SSH public key",
                  "value": {
                    "action": "SSHPubKeysRemove",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "deleteParams": "key",
                    "vmID": "123456789"
                  }
                },
                "takeSnapshot": {
                  "summary": "Create a snapshot",
                  "value": {
                    "action": "takeSnapshot",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "listSnapshot": {
                  "summary": "Get list of Snapshots",
                  "value": {
                    "action": "listSnapshot",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "restoreSnapshot": {
                  "summary": "Restore a Snapshot",
                  "value": {
                    "action": "restoreSnapshot",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "snapshotOrderID": "0",
                    "vmID": "123456789"
                  }
                },
                "deleteSnapshot": {
                  "summary": "Delete a Snapshot",
                  "value": {
                    "action": "deleteSnapshot",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "snapshotID": "63738264",
                    "vmID": "123456789"
                  }
                },
                "disableBackup": {
                  "summary": "Disable Snapshot backup",
                  "value": {
                    "action": "disableBackup",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "enableBackup": {
                  "summary": "Enable Snapshot backup",
                  "value": {
                    "action": "enableBackup",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "verifyExternalBackupConfig": {
                  "summary": "Verify S3 Configuration.",
                  "value": {
                    "action": "verifyExternalBackupConfig",
                    "apiKey": "root",
                    "bucketName": "testbucket",
                    "endPoint": "https://xxxxxxxxxxxxxxxx",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "prefix": "elestio-backups/xxxxxxxxxx.vm.appdrag.net",
                    "providerType": "others",
                    "secretKey": "XXxXXxXxxxxXxxxXx",
                    "vmID": "123456789"
                  }
                },
                "enableExternalBackup": {
                  "summary": "Enable Saving Backups to S3.",
                  "value": {
                    "action": "enableExternalBackup",
                    "apiKey": "root",
                    "bucketName": "testbucket",
                    "endPoint": "https://xxxxxxxxxxxxxxxx",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "prefix": "elestio-backups/xxxxxxxxxx.vm.appdrag.net",
                    "providerType": "others",
                    "secretKey": "XXxXXxXxxxxXxxxXx",
                    "vmID": "123456789"
                  }
                },
                "listExternalBackup": {
                  "summary": "List Backups saved in S3",
                  "value": {
                    "action": "listExternalBackup",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "takeExternalBackup": {
                  "summary": "Upload backup to S3",
                  "value": {
                    "action": "takeExternalBackup",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "downloadExternalBackup": {
                  "summary": "Download a backup from S3",
                  "value": {
                    "action": "downloadExternalBackup",
                    "downloadKey": "elestio-backups/xxxxxxx.vm.appdrag.net/backups_2022-03-10-17.06.15.zst",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "restoreExternalBackup": {
                  "summary": "Restore a backup saved in S3",
                  "value": {
                    "action": "restoreExternalBackup",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "restoreKey": "elestio-backups/xxxxxxx.vm.appdrag.net/backups_2022-03-10-17.06.15.zst",
                    "vmID": "123456789"
                  }
                },
                "deleteExternalBackup": {
                  "summary": "Delete a backup saved in S3",
                  "value": {
                    "action": "deleteExternalBackup",
                    "deleteKey": "elestio-backups/xxxxxxxx.vm.appdrag.net/backups_2022-03-10-17.06.15.zst",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                },
                "externalBackupSetting": {
                  "summary": "Change S3 Backup settings",
                  "value": {
                    "action": "externalBackupSetting",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "keepBackup": "4",
                    "schedulePeriod": "-1",
                    "scheduleType": "EveryDay",
                    "updateHour": "1",
                    "updateMinute": "0",
                    "vmID": "123456789"
                  }
                },
                "updateS3Config": {
                  "summary": "Update S3 Configuration",
                  "value": {
                    "action": "updateS3Config",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789",
                    "apiKey": "xxxxxxxxxxx",
                    "bucketName": "bucketname",
                    "endPoint": "https://xxxxxxxxxxxxxxxxxxxxxx",
                    "prefix": "elestio-backups/xxxxxxxxx.vm.appdrag.net",
                    "providerType": "others",
                    "secretKey": "XxxXxxxXxXXxXXxXxxxx"
                  }
                },
                "disableExternalBackup": {
                  "summary": "Disable S3 Backups",
                  "value": {
                    "action": "disableExternalBackup",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "vmID": "123456789"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/DoActionOnServer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "reboot": {
                    "summary": "Reboot Server",
                    "value": {
                      "actionID": 123456789,
                      "status": "running"
                    }
                  },
                  "reset": {
                    "summary": "Reset Server",
                    "value": {
                      "actionID": 123456789,
                      "status": "running"
                    }
                  },
                  "shutdown": {
                    "summary": "Shutdown Server",
                    "value": {
                      "actionID": 123456789,
                      "status": "running"
                    }
                  },
                  "poweroff": {
                    "summary": "Power Down Server",
                    "value": {
                      "actionID": 123456789,
                      "status": "running"
                    }
                  },
                  "poweron": {
                    "summary": "Power Up Server",
                    "value": {
                      "actionID": 123456789,
                      "status": "running"
                    }
                  },
                  "getServiceVolume": {
                    "summary": "Get Volumes for the service",
                    "value": {
                      "status": "OK",
                      "message": "Volume fetched successfully",
                      "data": [
                        {
                          "id": 13,
                          "status": "Running",
                          "serverID": "12345",
                          "providerServerID": "12345678",
                          "userID": "123",
                          "projectID": "123",
                          "providerName": "hetzner",
                          "providerRegion": "fsn1",
                          "volumeID": "12345678",
                          "volumeName": "Volume Name",
                          "volumeDescription": "",
                          "volumeSizeInGB": "10.00",
                          "isDeleted": 0,
                          "isAttached": 1,
                          "isProtected": 0,
                          "pricePerHour": "0.0021",
                          "nbHoursUsed": 1,
                          "totalCost": "1.5000",
                          "creationDate": "2022-03-10T09:57:09.000Z",
                          "lastUpdate": "2022-03-10T09:57:09.000Z"
                        }
                      ]
                    }
                  },
                  "createServiceVolume": {
                    "summary": "Create a new Volume for a service",
                    "value": {
                      "status": "OK",
                      "message": "Volume created successfully"
                    }
                  },
                  "manageServiceVolumeProtection": {
                    "summary": "To Turn On/Off projection for Volume",
                    "value": {
                      "status": "OK",
                      "message": "Volume protection activated successfully"
                    }
                  },
                  "resizeServiceVolume": {
                    "summary": "Resize Volume",
                    "value": {
                      "status": "OK",
                      "message": "Volume size updated successfully"
                    }
                  },
                  "detachServiceVolume": {
                    "summary": "Unlink Volume",
                    "value": {
                      "status": "OK",
                      "message": "Volume volumeName detached request has been processed successfully"
                    }
                  },
                  "deleteServiceVolume": {
                    "summary": "Delete Service Volume",
                    "value": {
                      "status": "OK",
                      "message": "Volume vol-name deleted successfully"
                    }
                  },
                  "lock": {
                    "summary": "Activate Termination Protection for Service",
                    "value": {
                      "actionID": 123456789,
                      "status": "success"
                    }
                  },
                  "unlock": {
                    "summary": "Deactivate Termination Protection for Service",
                    "value": {
                      "actionID": 123456789,
                      "status": "success"
                    }
                  },
                  "systemAutoUpdateDisable": {
                    "summary": "Disable Service OS auto updates",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "systemAutoUpdateEnable": {
                    "summary": "Enable Service OS auto updates",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "systemAutoUpdatNow": {
                    "summary": "Update Server OS",
                    "value": {
                      "status": "OK",
                      "url": "https://xxxxxxxxxx.vm.appdrag.net:18445/",
                      "mode": "iframe"
                    }
                  },
                  "appAutoUpdateEnable": {
                    "summary": "Enable Software Auto Updates",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "appAutoUpdateNow": {
                    "summary": "Update Software",
                    "value": {
                      "status": "OK",
                      "url": "https://xxxxxxxxxx.vm.appdrag.net:18445/",
                      "mode": "iframe"
                    }
                  },
                  "appAutoUpdateDisable": {
                    "summary": "Disable Software Auto Updates",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "changeSupportPlan": {
                    "summary": "Change Service Support Plan",
                    "value": {
                      "status": "OK",
                      "message": "Support plan update Successfully"
                    }
                  },
                  "restartAppStack\"": {
                    "summary": "Restarts App Stack for service",
                    "value": {
                      "status": "OK",
                      "url": "https://xxxxxxxxxx.vm.appdrag.net:18445/",
                      "mode": "iframe"
                    }
                  },
                  "getAlertsRules": {
                    "summary": "Get Threshold Alerts for service",
                    "value": {
                      "status": "OK",
                      "message": "Get alert rules",
                      "rules": [
                        {
                          "parameter": "CPU",
                          "value": 90,
                          "cycles": 15,
                          "unit": "%"
                        },
                        {
                          "parameter": "MEMORY",
                          "value": 90,
                          "cycles": 15,
                          "unit": "%"
                        },
                        {
                          "parameter": "SWAP",
                          "value": 50,
                          "cycles": 15,
                          "unit": "%"
                        },
                        {
                          "parameter": "SPACE",
                          "value": 80,
                          "cycles": 15,
                          "unit": "%"
                        },
                        {
                          "parameter": "INODE",
                          "value": 80,
                          "cycles": 15,
                          "unit": "%"
                        },
                        {
                          "parameter": "READ_RATE",
                          "value": 20,
                          "cycles": 15,
                          "unit": "MB/s"
                        },
                        {
                          "parameter": "WRITE_RATE",
                          "value": 20,
                          "cycles": 15,
                          "unit": "MB/s"
                        },
                        {
                          "parameter": "SATURATION",
                          "value": 90,
                          "cycles": 15,
                          "unit": "%"
                        },
                        {
                          "parameter": "DOWNLOAD",
                          "value": 25,
                          "cycles": 15,
                          "unit": "MB/s"
                        },
                        {
                          "parameter": "UPLOAD",
                          "value": 25,
                          "cycles": 15,
                          "unit": "MB/s"
                        }
                      ],
                      "monitCycleInSeconds": 60
                    }
                  },
                  "disableAlerts": {
                    "summary": "Disable Alerts.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "enableAlerts": {
                    "summary": "Enable Alerts.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "softwareChangeSelectedVersion": {
                    "summary": "Change Version of Application Software.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "getFirewallRules": {
                    "summary": "Get Firewall Rules.",
                    "value": {
                      "status": "OK",
                      "rules": [
                        {
                          "type": "INPUT",
                          "port": "22",
                          "protocol": "tcp",
                          "targets": [
                            "0.0.0.0/0",
                            "::/0"
                          ]
                        },
                        {
                          "type": "INPUT",
                          "port": "4242",
                          "protocol": "udp",
                          "targets": [
                            "0.0.0.0/0",
                            "::/0"
                          ]
                        },
                        {
                          "type": "INPUT",
                          "port": "34523",
                          "protocol": "tcp",
                          "targets": [
                            "0.0.0.0/0",
                            "::/0"
                          ]
                        },
                        {
                          "type": "INPUT",
                          "port": "34343",
                          "protocol": "tcp",
                          "targets": [
                            "0.0.0.0/0",
                            "::/0"
                          ]
                        },
                        {
                          "type": "INPUT",
                          "port": "18445",
                          "protocol": "tcp",
                          "targets": [
                            "0.0.0.0/0",
                            "::/0"
                          ]
                        }
                      ]
                    }
                  },
                  "updateFirewall": {
                    "summary": "Update Firewall Rules.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "disableFirewall": {
                    "summary": "Disable Firewall.",
                    "value": {
                      "status": "OK",
                      "details": "Firewall Disabled"
                    }
                  },
                  "enableFirewall": {
                    "summary": "Enable Firewall.",
                    "value": {
                      "status": "OK",
                      "message": "Firewall Activated",
                      "firewall_id": 123456
                    }
                  },
                  "SSLDomainsList": {
                    "summary": "SSL Domains List.",
                    "value": []
                  },
                  "SSLDomainsAdd": {
                    "summary": "SSL Domains Add.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "SSLDomainsRemove": {
                    "summary": "SSL Domains Remove.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "SSHPubKeysList": {
                    "summary": "SSH public Keys List.",
                    "value": {
                      "status": "OK",
                      "data": []
                    }
                  },
                  "SSHPubKeysAdd": {
                    "summary": "Add SSH public keys.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "SSHPubKeysRemove": {
                    "summary": "Remove SSH public key.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "takeSnapshot": {
                    "summary": "Create a snapshot.",
                    "value": {
                      "status": "OK",
                      "snapshotID": 12345678,
                      "actionID": "",
                      "serverStatus": "running",
                      "isDeleteFromDB": false,
                      "deletedSnapShotId": "",
                      "uniqueName": "Manual@1646916532933",
                      "diskSize": 20
                    }
                  },
                  "listSnapshot": {
                    "summary": "Get list of Snapshots.",
                    "value": {
                      "status": "OK",
                      "images": [
                        {
                          "id": 85,
                          "provider": "hetzner",
                          "providerSnapshotID": "12345678",
                          "providerServerID": "123456798",
                          "server_id": 12345,
                          "sizeInGB": "1.31",
                          "isPending": 0,
                          "isFinalized": 0,
                          "nbHoursUsed": 0,
                          "lastTotalHours": 0,
                          "amount": "0.00",
                          "creationDate": "2022-03-10T12:48:53.000Z",
                          "lastUpdate": "2022-03-10T12:48:53.000Z",
                          "isAutomaticSnapshot": 0,
                          "actionID": "",
                          "uniqueName": "Manual@1646916532933",
                          "status": "Completed",
                          "diskSize": 20,
                          "projectID": "130"
                        }
                      ]
                    }
                  },
                  "restoreSnapshot": {
                    "summary": "Restore a Snapshot.",
                    "value": {
                      "status": "OK",
                      "details": {
                        "id": 12345678,
                        "command": "rebuild_server",
                        "status": "running",
                        "progress": 0,
                        "started": "2022-03-10T12:53:29+00:00",
                        "resources": [
                          {
                            "id": 12344567,
                            "type": "server"
                          }
                        ]
                      },
                      "message": "Snapshot restoring created successfully",
                      "actionID": "",
                      "snapshotID": 12345678
                    }
                  },
                  "deleteSnapshot": {
                    "summary": "Delete a Snapshot.",
                    "value": {
                      "status": "OK",
                      "code": "deleted",
                      "snapshotID": "12345678"
                    }
                  },
                  "disableBackup": {
                    "summary": "Disable Snapshot backup.",
                    "value": {
                      "status": "OK"
                    }
                  },
                  "enableBackup": {
                    "summary": "Enable Snapshot backup.",
                    "value": {
                      "message": "SnapShot Enabled",
                      "status": "OK"
                    }
                  },
                  "verifyExternalBackupConfig": {
                    "summary": "Verify S3 Configuration.",
                    "value": {
                      "message": "Verified",
                      "status": "OK",
                      "data": []
                    }
                  },
                  "enableExternalBackup": {
                    "summary": "Enable Saving Backups to S3.",
                    "value": {
                      "message": "Backup enable successfully",
                      "status": "OK"
                    }
                  },
                  "listExternalBackup": {
                    "summary": "List Backups saved in S3.",
                    "value": {
                      "message": "External Backup listed",
                      "status": "OK",
                      "data": [
                        {
                          "key": "elestio-backups/xxxxxxxxxx.vm.appdrag.net/backups_2022-03-10-13.15.36.zst",
                          "lastModified": "2022-03-10T13:15:36.793Z",
                          "size": 10747
                        }
                      ]
                    }
                  },
                  "takeExternalBackup": {
                    "summary": "Upload backup to S3.",
                    "value": {
                      "message": "Backup created successfully",
                      "status": "OK",
                      "data": {
                        "status": "OK",
                        "url": "https://xxxxxxxxxxxxx.vm.appdrag.net:18445/",
                        "mode": "iframe",
                        "stdOut": "",
                        "stdErr": ""
                      }
                    }
                  },
                  "downloadExternalBackup": {
                    "summary": "Download a backup from S3.",
                    "value": {
                      "message": "Backup downloaded successfully",
                      "status": "OK"
                    }
                  },
                  "restoreExternalBackup": {
                    "summary": "Restore a backup saved in S3.",
                    "value": {
                      "message": "Backup restore successfully",
                      "status": "OK",
                      "data": {
                        "status": "OK",
                        "url": "https://xxxxxxxxxxxx.vm.appdrag.net:18445/",
                        "mode": "iframe",
                        "stdOut": "gotty is ready",
                        "stdErr": ""
                      }
                    }
                  },
                  "deleteExternalBackup": {
                    "summary": "Delete a backup saved in S3.",
                    "value": {
                      "message": "Backup deleted successfully",
                      "status": "OK"
                    }
                  },
                  "externalBackupSetting": {
                    "summary": "Change S3 Backup settings.",
                    "value": {
                      "message": "Backup setting updated successfully",
                      "status": "OK"
                    }
                  },
                  "updateS3Config": {
                    "summary": "Update S3 Configuration.",
                    "value": {
                      "message": "Config update successfully",
                      "status": "OK"
                    }
                  },
                  "disableExternalBackup": {
                    "summary": "Disable S3 Backups.",
                    "value": {
                      "message": "Backup disable successfully",
                      "status": "OK"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/DoActionOnServer \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"string\",\"vmID\":\"string\",\"action\":\"reboot\"}'"
          }
        ]
      }
    },
    "/api/servers/templateAction": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Managed local backups",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_templateAction_body"
              },
              "examples": {
                "scriptBackupsList": {
                  "summary": "List local backups",
                  "value": {
                    "action": "scriptBackupsList",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "param1": "",
                    "param2": "",
                    "param3": "",
                    "vmID": "123456789"
                  }
                },
                "scriptBackup": {
                  "summary": "Take a backup",
                  "value": {
                    "action": "scriptBackup",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "param1": "",
                    "param2": "",
                    "param3": "",
                    "vmID": "123456789"
                  }
                },
                "scriptBackupDelete": {
                  "summary": "Delete a backup",
                  "value": {
                    "action": "scriptBackupDelete",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "param1": "/opt/app-backups/[BACKUP_NAME].zst",
                    "param2": "",
                    "param3": "",
                    "vmID": "123456789"
                  }
                },
                "scriptRestore": {
                  "summary": "Restore a backup",
                  "value": {
                    "action": "scriptRestore",
                    "jwt": "ImF1dGSZQOAINZRpdHNX1dG9S",
                    "param1": "/opt/app-backups/[BACKUP_NAME].zst",
                    "param2": "",
                    "param3": "",
                    "vmID": "123456789"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/templateAction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "scriptBackupsList": {
                    "summary": "List local backups",
                    "value": {
                      "status": "OK",
                      "data": {
                        "status": "OK",
                        "url": ""
                      }
                    }
                  },
                  "scriptBackup": {
                    "summary": "Take a local backups",
                    "value": {
                      "status": "OK",
                      "data": {
                        "status": "OK",
                        "url": "",
                        "mode": ""
                      }
                    }
                  },
                  "scriptRestore": {
                    "summary": "Restore a backup",
                    "value": {
                      "status": "OK",
                      "data": {
                        "status": "OK",
                        "url": "",
                        "mode": ""
                      }
                    }
                  },
                  "scriptBackupDelete": {
                    "summary": "Restore a backup",
                    "value": {
                      "status": "OK",
                      "data": {
                        "stdOut": ""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/templateAction \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"action\":\"scriptBackupsList\",\"param1\":\"param\",\"param2\":\"param\",\"param3\":\"param\"}'"
          }
        ]
      }
    },
    "/api/servers/setRateLimiter": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Set request limit per IP",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_setRateLimiter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/setRateLimiter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/setRateLimiter \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"maxRate\":\"150\",\"periodType\":\"m\"}'"
          }
        ]
      }
    },
    "/api/servers/setOutputCache": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Set duration for cache",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_setOutputCache_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/setOutputCache",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/setOutputCache \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"durationInSeconds\":\"200\"}'"
          }
        ]
      }
    },
    "/api/servers/startSSHClient": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Get terminal URL & credentials",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_startSSHClient_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/startSSHClient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "url": "https://xxxxxxxxxxx.vm.appdrag.net:18344/",
                    "user": "root",
                    "password": "nfstiofhng123ndfio5"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/startSSHClient \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"projectID\":\"123\"}'"
          }
        ]
      }
    },
    "/api/servers/moveService": {
      "put": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Move service from one project to another project",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_moveService_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/moveService",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request PUT \\\n  --url https://api.elest.io/api/servers/moveService \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"serviceId\":\"1232323\",\"projectId\":\"17734567\"}'"
          }
        ]
      }
    },
    "/api/servers/startSSHDirect": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Get URL for SSHTerminal",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_startSSHDirect_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/startSSHDirect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "url": "https://xxxxxxxxxxxxxx.vm.appdrag.net:18374/"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/startSSHDirect \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\"}'"
          }
        ]
      }
    },
    "/api/servers/startLogTailView": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Show logs",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_startLogTailView_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/startLogTailView",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "url": "https://ubuntu-xxxxx-xxxx.vm.appdrag.net:18445/",
                    "mode": "iframe"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/startLogTailView \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"mode\":\"mode\",\"projectID\":\"123\"}'"
          }
        ]
      }
    },
    "/api/servers/startVSCode": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Launch VSCode",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_startVSCode_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/startVSCode",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "url": "https://XXXXXXXXX.vm.elestio.app:18345/?folder=/opt/app",
                    "user": "root",
                    "password": "XXXXXXXXXXXXXXX"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/startVSCode \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"projectID\":\"123\"}'"
          }
        ]
      }
    },
    "/api/servers/startFileExplorer": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Launch File Explorer",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_startFileExplorer_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/startFileExplorer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "url": "https://XXXXXXXXX.vm.elestio.app:18345/?folder=/opt/app",
                    "user": "root",
                    "password": "XXXXXXXXXXXXXXX"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/startFileExplorer \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"projectID\":\"123\"}'"
          }
        ]
      }
    },
    "/api/servers/getAppCredentials": {
      "post": {
        "tags": [
          "SERVICES"
        ],
        "summary": "Get App URL & Credentials",
        "description": "Get App URL & Credentials in the context of the service.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/servers_getAppCredentials_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/servers/getAppCredentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "url": "https://xxxxxx-xxxxx-xxxx.vm.appdrag.net/xxxxx/",
                    "user": "root",
                    "password": "dlfnsld-n43n85n0=-lo34h"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/servers/getAppCredentials \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"vmID\":\"123456789\",\"targetPort\":\"3000\",\"srvPort\":\"343\",\"projectID\":\"123\"}'"
          }
        ]
      }
    },
    "/api/backups/DisableAutoBackups": {
      "post": {
        "tags": [
          "BACKUPS"
        ],
        "summary": "Disables Auto Backups",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/backups_DisableAutoBackups_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/backups/DisableAutoBackups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "message": "Finished",
                    "data": "{\"message\":\"Finished\",\"status\":\"OK\"}",
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/backups/DisableAutoBackups \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"serverID\":\"34334\"}'"
          }
        ]
      }
    },
    "/api/backups/GetBackupList": {
      "post": {
        "tags": [
          "BACKUPS"
        ],
        "summary": "List remote backups",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/backups_GetBackupList_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/backups/GetBackupList",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "message": "Finished",
                    "data": [
                      {
                        "name": "snapshot_2022-03-08-14.00.22",
                        "date": "Tue, 2022-03-08 14:00:23"
                      }
                    ],
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/backups/GetBackupList \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"serverID\":\"34334\"}'"
          }
        ]
      }
    },
    "/api/backups/RestoreBackup": {
      "post": {
        "tags": [
          "BACKUPS"
        ],
        "summary": "Retore remote backup",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/backups_RestoreBackup_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/backups/RestoreBackup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "message": "Finished",
                    "data": [
                      {
                        "name": "snapshot_2022-03-08-14.00.22",
                        "date": "Tue, 2022-03-08 14:00:23"
                      }
                    ],
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/backups/RestoreBackup \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"serverID\":\"34334\",\"snapshotName\":\"backup_34nghnf\"}'"
          }
        ]
      }
    },
    "/api/backups/SetupAutoBackups": {
      "post": {
        "tags": [
          "BACKUPS"
        ],
        "summary": "Enable auto backups",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/backups_SetupAutoBackups_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/backups/SetupAutoBackups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "message": "Auto Backup Started",
                    "data": {
                      "stdOut": "nameserver 8.8.8.8",
                      "stdErr": ""
                    },
                    "status": "OK"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/backups/SetupAutoBackups \\\n  --header 'content-type: application/json' \\\n  --data '{\"serverID\":\"34334\",\"backupPath\":\"/backup/\",\"backupHour\":\"00:00\"}'"
          }
        ]
      }
    },
    "/api/backups/StartManualBackup": {
      "post": {
        "tags": [
          "BACKUPS"
        ],
        "summary": "Crate manual backup",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/backups_StartManualBackup_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "response for /api/backups/StartManualBackup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": {
                    "message": "Backup Started",
                    "data": {
                      "stdOut": "",
                      "stdErr": ""
                    },
                    "status": "OK",
                    "url": "https://xxxxxxxxxxxx.vm.appdrag.net:18445/",
                    "mode": "iframe"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.elest.io/api/backups/StartManualBackup \\\n  --header 'content-type: application/json' \\\n  --data '{\"jwt\":\"ImF1dGSZQOAINZRpdHNX1dG9S\",\"serverID\":\"34334\"}'"
          }
        ]
      }
    },
    "/api/servers/getNotes": {
[...]
